

<footer>
   <div class="row px-4 w-100">
      <div class="col-sm-3 p-4">
         <h5>Turing Inteligencia Artificial</h5>
         <p> Av. Insurgentes 601
            Col. Napoles, Benito Juarez
            Ciudad de México, México
         </p>

         <p>
            Telefono de contacto: <br>
               +52 (722) 936-96-65  <br><br>
            Correo electrónico: <br>
               contacto@turing-ia.com
         </p>
      </div> 
      
      <div class="col-sm-3 p-4">
         <h5>Mapa de sitio</h5>
         <ul>
            <li>
               <p>Inicio</p> 
            </li>

            <li>
               <p>Nosotros</p>
            </li>

            <li> 
               <p>Servicios</p> 
            </li>

            <li> 
               <p>Tableau</p> 
            </li>
         </ul>
      </div>

      <div class="col-sm-3 p-4">
         <h5>Nuestros servicios</h5>
         <ul>
            <li>
               <p>Implementación de Proyectos (Business Analyst)</p> 
            </li>

            <li>
               <p>Workshop (Blue Print)</p>
            </li>

            <li> 
               <p>Capacitacion</p> 
            </li>

            <li> 
               <p>Venta de Software</p> 
            </li>

            <li> 
               <p>Venta de Hardware</p> 
            </li>

            <li> 
               <p>Desarrollo de Aplicaciones</p> 
            </li>

            <li> 
               <p>Balanced Scorecard</p> 
            </li>
         </ul>
      </div> 
      
      <div class="col-sm-3 p-4">
         <h5>Inscribete a nuestro Newsletter</h5>
         <i class="fa-brands fa-facebook fa-2x"></i>
      </div>

   </div>
</footer>


