
<!--  Footer
      Agregando las clases de bootstrap ya sea row y col, nos ayuda a tenerlo de manera responsive
-->
<footer>
   <div class="row px-4 w-100">
      <div class="col-sm-3 p-4">
         <h5>Turing Inteligencia Artificial</h5>
         <p> Av. Insurgentes 601
            Col. Napoles, Benito Juarez
            Ciudad de México, México
         </p>

         <p>
            <strong>Telefono de contacto:</strong>  <br>
               +52 (722) 936-96-65  <br><br>
            <strong>Correo electrónico:</strong> <br>
               contacto@turing-ia.com
         </p>
      </div> 
      
      <div class="col-sm-3 p-4">
         <h5>Mapa de sitio</h5>
         <ul>
            <li>
               <p>Inicio</p> 
            </li>

            <li>
               <p>Nosotros</p>
            </li>

            <li> 
               <p>Servicios</p> 
            </li>

            <li> 
               <p>Tableau</p> 
            </li>
         </ul>
      </div>

      <div class="col-sm-3 p-4">
         <h5>Nuestros servicios</h5>
         <ul>
            <li>
               <p>Implementación de Proyectos (Business Analyst)</p> 
            </li>

            <li>
               <p>Workshop (Blue Print)</p>
            </li>

            <li> 
               <p>Capacitacion</p> 
            </li>

            <li> 
               <p>Venta de Software</p> 
            </li>

            <li> 
               <p>Venta de Hardware</p> 
            </li>

            <li> 
               <p>Desarrollo de Aplicaciones</p> 
            </li>

            <li> 
               <p>Balanced Scorecard</p> 
            </li>
         </ul>
      </div> 
      
      <div class="col-sm-3 p-4">
         <h5>Inscríbete a nuestro Newsletter</h5>
         <input type="email" name="email" id="correoNewsLetter" placeholder="Correo Electronico"> <br><br>
         
         <h5>Siguenos en nuestras redes</h5>
         <i class="fa-brands fa-linkedin fa-2x"></i>
         <i class="fa-brands fa-instagram fa-2x"></i>
         <i class="fa-brands fa-facebook fa-2x"></i>
         <i class="fa-brands fa-twitter fa-2x"></i>

         <br><br><br>

         <h5>Aviso de Privacidad</h5>
      </div>

   </div>
</footer>


