
<!-- Navegacion -->
<header>
   <nav class="topnav px-5" id="myTopnav">
      <a class="navbar-brand active" href="/">TURING IA</a>
         
      <a class="izquierda" href="/">Contacto</a>
      <a class="izquierda" href="/">Tableau </a>    
      <a class="izquierda" href="/">Servicios</a>  
      <a class="izquierda" href="/">Nosotros</a>
      <a class="izquierda" href="/">Inicio </a> 

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
         <i class="fa fa-bars"></i>
      </a>
   </nav>

   <div class="container m-5">

      <!-- Paramentros obtenidos e imprimiendolas en formato HTML -->
      <h2><%= title %></h2>
      <p><%= description %></p>
   </div>

   <section id="brandsNav">
      <i class="fa-brands fa-linkedin fa-2x"></i>
      <i class="fa-brands fa-instagram fa-2x"></i>
      <i class="fa-brands fa-facebook fa-2x"></i>
      <i class="fa-brands fa-twitter fa-2x"></i>
   </section>

</header>
   

<script>
   /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
   function myFunction() {
      var x = document.getElementById("myTopnav");
         if (x.className === "topnav px-5") {
            x.className += " responsive";
         } else {
            x.className = "topnav px-5";
         }
   }
</script>